# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Backup files
*.bak
/Debug/

# CMake artifacts
.settings
CMakeCache.txt
CMakeFiles
cmake_install.cmake
.project
.cproject
Makefile

# output
bin/
lib/

# nodejs modules
node_modules

# thrift src
adapters/onvif/deps/thrift-0.9.3/**

# thrift generated
adapters/onvif/src/gen-cpp/
adapters/onvif/deps/nodenvc/gen-nodejs/

# gtest & pjdfstest
deps/gtest/build_gmock/
deps/gtest/build_gtest/
deps/gtest/googletest/
deps/pjdfstest/pjdfstest/

# build files
build/**

# generated reports
reports/**
conformance/common/setup.sh
conformance/common/cleanup.sh
conformance/common/*.log

# temporary files
conformance/pjd/pjdfstest
